<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="https://unpkg.com/ejs@3.1.6/ejs.min.js"></script>

    <script src="main.js"></script>
  </head>
  <body>
    <!-- NAV-BAR -->
    <div class="container"><%- include('../partials/navbar.ejs') %></div>
    <!-- -->
    <h1>Home</h1>
    <!-- PRODUCTOS -->
    <div class="container">
      <%- include('../partials/index-form-productos.ejs') %>
    </div>
    <div class="container">
      <hr class="index-main-hr" />
    </div>
    <section>
      <!-- PRODUCTOS FILTRADOS-->
      <div class="container">
        <%- include('../partials/index-productos-filtrados.ejs') %>
      </div>
      <div class="container">
        <hr class="index-main-hr" />
      </div>
      <!-- CARRITO -->
      <div class="container">
        <%- include('../partials/index-carrito-table.ejs') %>
      </div>
      <div class="container">
        <hr class="index-main-hr" />
      </div>
    </section>

    <!-- MENSAJES -->
    <div class="container">
      <%- include('../partials/index-form-mensajes.ejs') %>
    </div>
  </body>
</html>
