<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce Info</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <section
        class="d-flex justify-content-center align-items-center flex-column"
        style="height: 100vh"
      >
        <h1>Info</h1>
        <% if(info) {%>
        <ul class="list-group">
          <li class="list-group-item list-group-item-dark">
            <b>Argumentos de entrada:</b> <%=info.argumentosDeEntrada%>
          </li>
          <li class="list-group-item list-group-item-dark">
            <b>Nombre de la plataforma:</b> <%=info.nombreDeLaPlataforma%>
          </li>
          <li class="list-group-item list-group-item-dark">
            <b>Path de ejecución:</b> <%=info.pathDeEjecución%>
          </li>
          <li class="list-group-item list-group-item-dark">
            <b>Process id:</b> <%=info.processId%>
          </li>
          <li class="list-group-item list-group-item-dark">
            <b>Versión de node.js:</b> <%=info.versionDeNodeJs%>
          </li>
          <li class="list-group-item list-group-item-dark">
            <b>Uso de memoria:</b> <%=info.usoDeMemoria%>
          </li>
          <li class="list-group-item list-group-item-dark">
            <b>Carpeta corriente:</b> <%=info.carpetaCorriente%>
          </li>
        </ul>
        <%}%>
      </section>
    </div>
  </body>
</html>
