doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Trabajando con PUG
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    body 

div.container
    h1= 'Tabla'
    if productos.length === 0
        h1= "No hay productos"
    else
        table.table.table-bordered
            tr
                th Id
                th Titulo
                th Precio
                th Foto Url
            each producto in productos
                tr
                    td= producto.id
                    td= producto.title
                    td= producto.price
                    td
                        img(src= producto.thumbnail width="50px")